@charset "euc-kr";

/* Chosun.com Main Stylesheet  2018
  ÀÛ¼ºÀÚ : Park Yu Jin 
  ÀÛ¾÷½ÃÀÛÀÏ : 2018.01 
*/

/* Reset import */
@import url("http://chosun.com/dhtm/css/css_reset_2018.css");
/* @import url("http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css"); */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');


html, body{height:100%;}
html{-webkit-text-size-adjust:none;}
body{min-width:320px;word-break:keep-all;word-wrap:break-word;white-space:inherit;background: #f9f1e7;}
body, input, button, textarea{font-family:AppleSDGothicNeo-Regular,'¸¼Àº °íµñ','Malgun Gothic',³ª´®°íµñ,µ¸¿ò,Dotum,±¼¸²,Gulim,'Apple SD Gothic Neo',sans-serif; letter-spacing:-0.05em}
a, a:visited{color:#000; text-decoration:none}

/* layout */
#csWrap { min-width:1195px; }
#csHeader {}
#csContent {width: 1195px;margin: 0 auto;background: #fff; padding-top:15px; box-sizing: border-box;}
iframe{display:block}




/* GNB css*/
.top_head {background:#f8f8f8;}
.top_head .inner {position:relative; width:1195px; height:36px; margin: 0 auto; background: #e4e2f7;}
.top_head .inner ul.lang {}
.top_head .inner ul.lang li {float:left;}
.top_head .inner .guest_info {float:right;}
.top_head .inner .guest_info span{}
.top_head .inner .guest_info span.noti{}
.top_area {position:relative; height:85px; width:1195px; background: #fff; margin: 0 auto; text-align: center}
.top_area .cs_logo{text-align:center}
.top_area .top_ad1 {position:absolute;left:0;bottom:0}
.top_area .top_ad2 {position:absolute;right:0;bottom:0}


.gnb_menu {width: 100%; height: 48px;background: #fff; border-top:1px solid #d7d7d7; border-bottom:3px solid #c51a18}
.gnb_menu_inner{position:relative; width:1195px; height: 48px; margin: 0 auto;}
.gnb_menu_inner .btn_menu {position:absolute; left:0px; top:5px }
.gnb_menu_inner .img_logo {float:left; margin-top:12px; width:223px; height:24px; background:url(http://www.chosunonline.com/dhtm/images//logo_cs_online.png) no-repeat}
.gnb_menu_inner ul{display: inline-block; overflow:hidden; padding-left:173px;}
.gnb_menu_inner ul li{float:left;}
.gnb_menu_inner ul li a {display: inline-block; color:#000; height: 48px; line-height: 48px; padding:0 12px; font-size:15px; font-weight: bold}
.gnb_menu_inner ul.panmenu {position:relative; padding-left:13px}
.gnb_menu_inner ul.panmenu:before {content:''; display:inline-block; background:#d7d7d7; position:absolute; left:0; top:38%; width:1px; height:13px;}
.gnb_menu_inner ul.panmenu li a{padding:0 8px; font-weight: normal}

.gnb_menu_inner ul li a:hover, .gnb_menu_inner ul li a.current{text-decoration:none; color: #002c69; transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;}

/* .gnb_menu_common {float:right; position:relative; width:250px; margin-top: 9px; z-index: 999}
.gnb_menu_common .sch_area {position:relative; float:left; width:213px; height:32px; margin:0 ;margin-right: 7px;}
.gnb_menu_common .sch_area fieldset {}
.gnb_menu_common .sch_area .inputBox {display: inline-block; height:32px; float:left;}
.gnb_menu_common .sch_area .inputBox .schinput {display:inline-block; width:180px; height:32px;padding:0 7px;background:#fff; text-align:left;border:0; font-size:18px; line-height:1.286em; color:#000}
.gnb_menu_common .sch_area .inputBox .schBtn_menu{position:absolute; right:0; top:0; display:inline-block; width:30px; height:30px; background:url(http://www.chosunonline.com/dhtm/images//common_icon.png) no-repeat -1px -1px; border:0; font-size:0; line-height:0; text-indent: -9999px; cursor:pointer;}
.schBtn_menu_open {position:absolute; right:0; top:0; display:inline-block; width:30px; height:30px; background:url(http://www.chosunonline.com/dhtm/images//common_icon.png) no-repeat -1px -1px; border:0; font-size:0; line-height:0; text-indent: -9999px;}
.btn_menu_show {width:30px; height:32px; background:url(http://www.chosunonline.com/dhtm/images//common_icon.png) no-repeat -1px -30px; border:0; font-size:0; line-height:0; text-indent: -9999px; cursor:pointer; }
.btn_menu_hidden {width:30px; height:32px; background:url(http://www.chosunonline.com/dhtm/images//common_icon.png) no-repeat -48px -30px; border:0; font-size:0; line-height:0; text-indent: -9999px; cursor:pointer;} */

.menu_box { width:1045px; position: absolute; right: 0; top: 39px; background:#fff; border:1px solid #d7d7d7; box-sizing: border-box; }
.menu_box dl{float:left; width:17%; height: 235px; display:inline-block; border-left:1px solid #e9e9e9; padding-left:30px; margin:20px 0 30px; }
.menu_box dl:first-child {border:0}
.menu_box dl dt{ font-weight:bold; line-height: 2.143em}
.menu_box dl dd{ font-size:14px; line-height: 2.143em}
.menu_box dl dd.more_txt{line-height: 1.5em; margin: 4px 0;}
.menu_box dl dt a, .menu_box dl dd a{color:#333}

/* in section items */
#csContent section:first-child {border-top:0}
section.art_list{width:100%; margin: 0 auto; padding:20px 0 40px 0; border-top:1px solid #000; position: relative;}
section.art_list:after{content:""; display:block; clear:both; *zoom:1}
section.art_list#sec_my_pan {background:#f1f1f4; border-top:1px solid #cbccd2;}
section.art_list#sec_photo {border-top:1px solid #cbccd2;}

.sec_tit {float:left; width:165px; background: #f7dde4;}
.sec_con {float:left; width:700px; padding: 0 20px;border-left: solid 1px #d7d7d7; box-sizing: border-box}
.sec_con.wide {width:1030px; padding-right: 0;}
.sec_sub {float:left; width:330px; box-sizing: border-box;}
.sec_sub.line {border-left: solid 1px #d7d7d7; padding-left:20px;}/* ·¹ÀÌ¾Æ¿ô ¶óÀÎÀÌ ÀÕÀ¸¸é ÆÐµù°ªÀÌ ÀÖÀ½ */



/* in sec_tit items */
.sec_tit h3{font-size:20px; font-weight: 600; }
.sec_date{display:block; font-size:14px; font-family: 'Open Sans', sans-serif; margin-bottom:5px;}
#weather_text {display:block; font-size:14px;}
.trending {}
.trending strong{font-size:20px}
.trending ul {}
.trending ul li{font-size:15px;padding:6px 0 }


ul.sec_tit_sub {position:absolute; left:0; bottom:40px; }
ul.sec_tit_sub li {display:block; line-height:1.250em}
ul.sec_tit_sub li a {width:90px; font-size:13px; display:inline-block;  color:#777; text-align:left; border-radius:3px; }

/* in sec_con items */
.top_news {border-bottom:1px solid #eaeaea; padding-bottom:20px;}
.top_news h2{font-size:28px; font-weight:bold; line-height: 1.250em; letter-spacing:-.075em; }
.top_news dl.news_item dd.thumb {padding:0}

dl.news_item {overflow: hidden; display:block; width:100%; margin-top:16px}
dl.news_item:after{content:""; display:block; clear:both; *zoom:1}
dl.news_item dd.desc:first-child{max-width:100%;}
dl.news_item dt {font-size:18px; display: block; line-height: 1.2em;}
dl.news_item dt span.up_tit {display:inline-block; font-size:14px; height:22px; background:#c41916; color:#fff; padding:0 4px; margin-right:6px}
dl.news_item dt span.up_tit.v1 {background:#fff; color:#c41916; border:1px solid #c41916; padding:0 3px; box-sizing: border-box;}
dl.news_item dt a {line-height: 1.1em;}
dl.news_item.thum dt:first-child{font-weight:bold; font-size:18px;}

dl.news_item dd.thumb {float:left; margin-right:13px; line-height: 0;}
dl.news_item dd.thumb a {display:inline-block; line-height: 0;}
dl.news_item dd.desc {overflow: hidden; display: block; font-size:14px; margin-top:4px; line-height: 1.47em}
dl.news_item dd.desc a {color:#777; letter-spacing:-.05em;}

dl.news_item.thum {margin-top: 19px}
dl.news_item.thum ul.rel_art {float:left; padding-top:5px}

.news_item_box {*zoom:1}
.news_item_box:after {content:" "; display:block; clear:both; padding-bottom: 8px;}
dl.news_item.round {float: left; width:329px; margin-top:0}
dl.news_item.round dd.thumb{width:72px; height:72px; background:#e3e3e3; border-radius: 55px}
dl.news_item.round dd.thumb img { width:72px; height:72px; border-radius: 55px}
dl.news_item.round dt{ font-size: 15px; line-height:1.389em}
dl.news_item.round dd.tit a{color:#777;font-size: 14px;}

ul.rel_art{padding-top: 8px;}
ul.rel_art li {position:relative;}
ul.rel_art li:first-child { margin-top:0;}
ul.rel_art li:before {content:''; display:block; width:7px; height:7px; background:url(http://www.chosunonline.com/dhtm/images//common_icon.png) no-repeat -5px -71px; position: absolute; top: 50%; margin-top: -3px;}
ul.rel_art li a { color:#222; padding-left: 12px; font-size:15px; }
ul.rel_art li span {display: inline-block; font-size:12px; color:#999; font-weight:normal; padding-left:8px}

ul.rel_art.dot li:before {background-color:#222;background-image: none;width: 2px;height: 2px;content: '';position: absolute;display: block;top: 13px;left: 2px;}

.notice {float:left}
.notice strong{font-size:15px; color:#000}
.more_link {}


ul.tabs {}
ul.tabs li{display:inline-block}
ul.tabs li a{font-size:15px; font-weight:bold}
ul.tabs li.active a{color:#c41916; border-bottom:2px solid #c41916}

.sec_con .comt_item:first-child {padding-left:0}
.comt_item_box {*zoom:1}
.comt_item_box:after {content:" "; display:block; clear:both; padding-bottom: 8px;}
.comt_item { width:210px; padding-left:14px; float:left;}
.comt_item span.thumb {display: block; position:relative;line-height:0;}
.comt_item span.thumb img { width:210px; height:118px;}
.comt_item .comt_txt {padding:10px 8px;border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7;}
.comt_item .comt_txt .item_tag {font-size: 14px; margin-bottom:4px; }
.comt_item .comt_txt .item_tag a{color:#777;}
.comt_item .comt_txt .item_tit {display: block; font-size: 15px; color:#000; line-height: 1.333em;letter-spacing:-.05em;}

#photo {overflow:hidden}
.photo_wrap {float:left; width:660px; padding-right: 19px;}

.photo_wrap .bg_img {overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:169px;
    background:url(http://image.chosun.com/main/201803//bg_st01.png) 0 0 repeat-x;
  }
.cont_thumb {
    position: absolute; height:100px;
    left: 0;
    right: 0;
    bottom: 20px;
    padding: 0 30px;
    color: #fff;
  }
.photo_wrap_nav {float:left; width:305px; border-left:1px solid #d7d7d7; height:350px; padding-left:20px; overflow-y: scroll}
.scroll_style::-webkit-scrollbar-track
{
	border-radius: 20px;
  background-color: #fff;
}

.scroll_style::-webkit-scrollbar
{
	width: 5px;
	background-color: #fff;
}

.scroll_style::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	background-color: #d7d7d7;
}


#bx-pager a {display:block; height:60px; padding-bottom:18px; padding-top:18px; border-top:1px solid #eaeaea}
#bx-pager > a:first-child{border:0; padding-top:0;}
#bx-pager div {height:60px}


/* in sec_sub items *************/
/* slider common */
.bx-pager.bx-default-pager {display:inline-block; font-size:11px; color:#999; vertical-align: top}
.bx-pager.bx-default-pager:first-letter {color:#777;}
.bx-controls {position:absolute; top:13px; right:16px}
.bx-controls-direction {float: right; display:inline-block; height:17px; margin-left:5px; overflow:hidden;}
.bx-controls-direction a {display:inline-block; width:17px; height:17px; background:url(http://image.chosun.com/main/201803//icon_common.png) no-repeat;}
.bx-controls-direction .bx-prev {background-position: 0 0; text-indent:-9999px;}
.bx-controls-direction .bx-next {background-position: -17px 0; text-indent:-9999px;}
/* slider common */

.sub_item_box{border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; border-top:2px solid #222; padding:0 15px 18px}
dl.sub_item.title {text-align: center; font-weight:bold; border-top:0; margin-top:0}
dl.sub_item {overflow: hidden; display:block; width:100%; padding-top:18px; margin-top:18px; border-top:1px solid #eaeaea;}
dl.sub_item dt {font-size:15px; line-height: 1.2em; margin-top:4px; margin-left:5px}
dl.sub_item dd.thumb {overflow:hidden; float:left; width:60px; height:60px; background: #fff; border:1px solid #d7d7d7; box-sizing: border-box; border-radius: 55px; margin-right:13px; line-height: 0;}
dl.sub_item dd.thumb a {display:inline-block; line-height: 0;}
dl.sub_item dd.thumb img {}
dl.sub_item dd.tit{font-size:14px;margin:4px 0 0 5px}
dl.sub_item dd.tit a{color:#777;}

.channel_box{position:relative; border:1px solid #d7d7d7; padding:15px 16px; margin-bottom:20px; background:#f3f3f3}
.channel_box strong{font-size:15px;}
.channel_box dl.sub_item {margin-top:0; border-top:0; padding:12px 0 5px}

.aside_bn {text-align:center; margin-bottom:20px}

.people_box {position:relative; margin-bottom:20px}
.people_box strong{display:block; font-size:15px; margin-bottom: 6px}
.people_box ul li {border:1px solid #d7d7d7; box-sizing: border-box}
.people_box ul li span.thumb {display: block; position:relative;line-height:0;}
.people_box ul li span.thumb img { width:158px; height:90px;}
.people_box ul li .comt_txt {padding:10px 8px 14px; height:83px; }
.people_box ul li .comt_txt .item_tag {display:block; font-size:14px; margin-bottom:4px; }
.people_box ul li .comt_txt .item_tag a{color:#777;}
.people_box ul li .comt_txt .item_tit {display: block; font-size: 15px; color:#000; line-height: 1.333em; letter-spacing:-.05em;}
.people_box .bx-controls {position:absolute; top:2px; right:0px}



.live_box {position:relative; margin-bottom:20px}
.live_box strong{display:block; font-size:15px;line-height: 1.2em; margin-bottom:9px}
.live_box .inner { padding-top:10px; border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; border-top:2px solid #222;}
.live_box .inner .scroll_style {width:322px; height:242px; padding:5px 0; overflow-y:scroll;}
dl.live_item { clear:both; width: 257px; position: relative; border-left: solid 1px #eaeaea; margin-left: 20px;padding: 0 0px 12px 29px;}
dl.live_item dd.time { position: absolute; height:17px; top:0px; left:-12px; background: #fff; font-family: Tahoma; font-size: 11px; line-height:17px; color: #777;}
dl.live_item dd.thumb { float:right; margin-left: 10px; }
dl.live_item dd.thumb img { max-width: 87px; height: 50px; }
dl.live_item dt {font-size: 15px; line-height: 1.333em; }
dl.live_item dt a {}

.hash_box {position:relative; width:330px;}
.hash_box li { height:318px; padding: 0 50px}
.bx-pager.bx-default-pager {color:#c7c7c6;}
.hash_box .bx-controls {position:absolute; top:13px; right:16px}
.hash_box .bx-controls-direction {float:right; display:inline-block; height:17px; margin-left:5px; overflow:hidden;}
.hash_box .bx-controls-direction .bx-prev {background-position: 0 -21px; text-indent:-9999px;}
.hash_box .bx-controls-direction .bx-next {background-position: -17px -21px; text-indent:-9999px;}
.hash_box .bx-pager.bx-default-pager:first-letter {color:#fff;}

.hash_box li .inner{width:280px; height:236px; background:#fff; padding:17px 25px}



/* footer */
.cs_Footer {width:100%; }
.cs_Footer:after{content:""; display:block; clear:both; *zoom:1}
.Footer_inner {position:relative; width:1195px; background:#e2f9df; border-top:2px solid #ccc; margin: 0 auto; padding:36px 0 35px}
.Footer_inner .img_logo_footer {position:absolute; top:30px; left:20px}
.Footer_inner .Footer_add {padding-left:185px}
.Footer_add + .Footer_add dl:first-child{border-top: solid 1px #d9d9d9;}
.Footer_inner ul { overflow:hidden; font-size:13px; margin-bottom:1px; line-height: 1.667em; }
.Footer_inner ul li{position:relative; display:inline-block; color:#777; padding: 0 10px}
.Footer_inner ul li a {color:#777;}
.Footer_inner span {display:inline-block; font-size:13px; color:#222;  margin-top:9px }

.Footer_inner ul li:before { content:''; display:inline-block; background:#d7d7d7; position:absolute; left:0; top:25%; width:1px; height:13px;}
.Footer_inner ul li:first-child:before {display:none;}
.Footer_inner ul li:first-child {padding-left:0}
.Footer_inner .Footer_add ul li.border_none{padding-left:0}
.Footer_inner .Footer_add ul li.border_none:before {background:none;}


.Footer_inner {}
.Footer_inner dl{ overflow:hidden; font-size:13px; margin-bottom:1px; line-height: 1.667em; }
.Footer_inner dl dt{display:inline-block; width:119px;  text-align:left; font-size:13px; color:#222}
.Footer_inner dl dd:before{content:''; display:inline-block; background:#d7d7d7; position:absolute; left:0; top:25%; width:1px; height:13px;}
.Footer_inner dl dd {position:relative; display:inline-block; color:#777; padding: 0 10px}
.Footer_inner dl dt + dd:before {background:none; }
.Footer_inner dl dt + dd {padding-left:0}
.Footer_inner dl dd a {color:#777;}